// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
    color: #373737;
}
.thankyou-container {
    margin-top: 100px;
    text-align: center;
}
.thankyou-container a {
    font-size: 16px;
}
.container {
    margin-bottom: 200px;
}