<template>
    <div>
        <div class="loading" v-show="loading">Processing...</div>
        <div class="cart-container">
            <h3 class="title">Cart</h3>
            <table>
                <thead>
                    <th>PRODUCT</th>
                    <th>PRICE</th>
                    <th>QTY</th>
                    <th class="text-right">TOTAL</th>
                </thead>
                <tbody>
                    <template v-if="orders && orders.length > 0">
                        <tr v-for="order in orders" :key="order.id">
                            <td>
                                <button @click="removeOrder(order.id)" class="btnRemoveOrder">x</button>
                                <img class="item-img" :src="assetsUrl + '/' + order.image">
                                <p class="item-name">{{ order.name }}</p>
                            </td>
                            <td><b>PHP {{ formatPrice(order.price) }}</b></td>
                            <td><input type="number" min="1" max="100" @change="changeQty($event, order.id)" :value="order.qty"></td>
                            <td class="text-right"><b>PHP {{ formatPrice(order.new_price || order.price) }}</b></td>
                        </tr>
                    </template>
                    <template v-else>
                        <tr><td colspan="4" class="text-center shop-now">No items in cart. <a href="/">Shop now!</a></td></tr>
                    </template> 
                </tbody>
                <tfoot>
                    <th colspan="3" class="text-right">CART TOTAL:</th>
                    <th class="text-right"><span class="totalPrice">PHP {{ formatPrice(total_price) }}</span></th>
                </tfoot>
            </table>
            <button class="btnCheckOut" @click="checkOut()">Proceed to Check Out</button>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            loading: false,
            orders: [],
            total_price: 0
        }
    },
    props: ['assetsUrl'],
    mounted() {
        if(localStorage.cart) {
            this.getCart()
        }
    },
    methods: {
        changeQty(e, id) {
            this.orders = this.orders.filter(x => {
                if(x.id === id) {
                    x.qty = (e.target.value < 1 ? 1 : e.target.value)
                    x.new_price = parseInt(x.qty) * parseInt(x.price)
                }
                return x
            })

            this.getTotalPrice()
        },
        removeOrder(id) {
            this.orders = this.orders.filter(x => {
                return x.id !== id
            })
            localStorage.cart = JSON.stringify(this.orders)

            this.getTotalPrice()
            this.$root.$emit('cartCount', JSON.parse(localStorage.cart).length)
        },
        async checkOut() {
            this.loading = true

            if(this.orders.length > 0) {
                if(this.total_price < 10000000) {
                    if(this.total_price >= 10000) {
                        localStorage.cart = JSON.stringify(this.orders.filter(x => {
                            delete x.name
                            delete x.price
                            delete x.new_price
                            delete x.image
                            return x
                        }))
                        window.location.href = '/payment'
                    } else {
                        this.$root.$emit('notify', [{
                            'detail': 'Mininum amount per order is 100.00.'
                        }])
                        this.loading = false
                    }
                } else {
                    this.$root.$emit('notify', [{
                        'detail': 'Total amount exceeded per transaction (99,999.99).'
                    }])
                    this.loading = false
                }
                
            } else {
                this.$root.$emit('notify', [{
                    'detail': 'No items in cart.'
                }])
                this.loading = false
            }
        },
        async getCart() {
            await axios.post('/getCart', {
                'cart': JSON.parse(localStorage.cart)
            })
            .then(res => {
                this.orders = res.data.data
                this.getTotalPrice()
            })
        },
        getTotalPrice() {
            let total_price = 0
            this.orders.filter(x => {
                total_price += (parseInt(x.new_price) || parseInt(x.price))
            })
            this.total_price = total_price
        },
        formatPrice(n) {
            return parseFloat(n / 100).toFixed(2)
        }
    }
}
</script>

<style scoped>
.loading {
    background-color: #ffffff;
    opacity: 0.7;
    color: #373737;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 2px;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    padding-top: 15%;
}
.cart-container {
    margin-top: 48px;
}
.title {
    margin-bottom: 24px;
}
table {
    width: 100%;
}
td, th {
    letter-spacing: 1px;
}
.shop-now {
    padding: 48px;
    font-size: 16px;
}
.btnRemoveOrder {
    display: block;
    background: transparent;
    border: 0;
    border-radius: 2px;
}
.btnRemoveOrder:hover {
    background-color: #ffffff;
}
.totalPrice {
    font-size: 16px;
}
.item-img {
    width: 100px;
    height: 100px;
    border-radius: 2px;
    border: 1px solid #ffffff;
}
.item-name {
    font-weight: bold;
    margin-top: 8px;
}
input {
    border: 1px solid #cccccc;
    border-radius: 2px;
    padding: 6px;
}
.btnCheckOut {
    float: right;
    margin-top: 64px;
    background-color: #FEBF35;
    border: 0;
    border-radius: 30px;
    color: #373737;
    padding: 12px 24px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s;
}
.btnCheckOut:hover {
    background-color: #373737;
    color: #ffffff;
}
</style>