<template>
    <div class="products-container">
        <h3 class="title">Products</h3>
        <div class="item" v-for="product in products" :key="product.id">
            <img class="item-img" :src="assetsUrl + '/' + product.image">
            <h4 class="item-name">{{ product.name }}</h4>
            <p class="item-price">PHP {{ formatPrice(product.price) }}</p>
            <template v-if="inCart(product.id) || product.inCart">
                <div class="added">Added</div>
            </template>
            <template v-else>
                <button @click="addToCart(product)" class="btnAdd">Add to cart</button>
                <button @click="orderNow(product)" class="btnOrder">Order now</button>
            </template>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            products: []
        }
    },
    props: ['assetsUrl'],
    mounted() {
        this.getProducts()
    },
    methods: {
        async getProducts() {
            await axios.get('/products')
                    .then(res => {
                        this.products = res.data
                    })
                    .catch(err => {
                        this.$root.$emit('notify', err)
                    })
        },
        addToCart(product) {
            let cart = []
            if(localStorage.cart) {
                cart = JSON.parse(localStorage.cart)
            }

            cart.push({'id': product.id, 'qty': 1})
            localStorage.cart = JSON.stringify(cart)

            this.products = this.products.filter(x => {
                if(x.id === product.id) {
                    x.inCart = true
                }
                return x
            })

            this.$root.$emit('cartCount', JSON.parse(localStorage.cart).length)
        },
        orderNow(product) {
            this.addToCart(product)
            window.location.href = '/cart'
        },
        inCart(id) {
            let inCart = false
            if(localStorage.cart) {
                JSON.parse(localStorage.cart).filter(x => {
                    if(x.id === id) {
                        inCart = true
                    }
                })
            }
            return inCart
        },
        formatPrice(n) {
            return parseFloat(n / 100).toFixed(2)
        }
    }
}
</script>

<style scoped>
.products-container {
    margin-top: 48px;
}
.title {
    margin-left: 50px;
    margin-bottom: 24px;
}
.added {
    background-color: #C5DB29;
    padding: 8px;
    color: #373737;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.item {
    display: inline-block;
    border: 1px solid #cccccc;
    width: 300px;
    height: auto;
    margin-left: 50px;
    margin-bottom: 50px;
    text-align: center;
    padding: 0 0 20px 0;
    transition: 0.3s;
    border-radius: 4px;
}
.item:hover {
    box-shadow: 0 0 10px #cccccc;
}
.item-name {
    margin-top: 20px;
}
.item-img {
    border-radius: 4px 4px 0 0;
    width: 100%;
    height: 300px;
}
.btnAdd {
    background-color: #373737;
    border: 0;
    border-radius: 30px;
    color: #ffffff;
    padding: 8px 24px;
    font-weight: bold;
    transition: 0.3s;
    margin-right: 10px;
}
.btnAdd:hover {
    background-color: #cccccc;
    color: #373737;
}
.btnOrder {
    background-color: #FEBF35;
    border: 0;
    border-radius: 30px;
    color: #373737;
    padding: 8px 24px;
    font-weight: bold;
    transition: 0.3s;
}
.btnOrder:hover {
    background-color: #cccccc;
}
</style>