<template>
    <div class="login-container">
        <h3 class="title">Login</h3>
        <form @submit.prevent="login">
            <div class="form-group">
                <label>Email</label>
                <input type="text" v-model="email" required>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" v-model="password" required>
            </div>
            <button class="btnLogin">Log in</button>
        </form>
    </div>
</template>

<script>
export default {
    data() {
        return {
            email: 'admin@ripeconcepts.com',
            password: 'R!pe1234'
        }
    },
    methods: {
        async login() {
            await axios.post('/request_login', {
                email: this.email,
                password: this.password
            })
            .then(res => {
                if(res.data.message === 'ok') {
                    window.location.href = '/orders'
                }
            })
            .catch(err => {
                this.$root.$emit('notify', [{detail: err.response.data.error}])
            })
        }
    }
}
</script>

<style scoped>
.title {
    margin-bottom: 24px;
}
.login-container {
    max-width: 350px;
    margin: 10% auto;
}
input[type="text"], input[type="password"] {
    border: 1px solid #cccccc;
    border-radius: 2px;
    padding: 6px;
    width: 100%;
}
.form-group label {
    display: block;
}
.btnLogin {
    display: block;
    margin: 56px auto;
    width: 200px;
    background-color: #FEBF35;
    border: 0;
    border-radius: 30px;
    color: #373737;
    padding: 12px 24px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s;
}
.btnLogin:hover {
    background-color: #373737;
    color: #ffffff;
}
</style>