<template>
    <div class="navigation">
        <ul>
            <li><a href="/">Catalog</a></li>
            <li><a href="/cart">Cart ({{ count }})</a></li>
            <template v-if="!loggedIn">
                <li class="float-right"><a href="/admin">Admin</a></li>
            </template>
            <template v-else>
                <li class="float-right"><a href="/request_logout">Log out</a></li>
                <li class="float-right"><a href="/orders">Orders</a></li>
            </template>
        </ul>
    </div>
</template>

<script>
export default {
    data() {
        return {
            count: 0
        }
    },
    props: ['loggedIn'],
    mounted() {
        if(localStorage.cart) {
           this.count = JSON.parse(localStorage.cart).length
        }
        this.$root.$on('cartCount', n => {
            this.count = n
        })
    }
}
</script>

<style scoped>
.navigation {
    background-color: #C5DB29;
    padding: 14px 56px;
    height: 48px;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    display: inline-block;
    min-width: 110px;
}
li a {
    color: #373737;
    letter-spacing: 1px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s;
}
li:hover a {
    color: #ffffff;
}
.float-right {
    float: right;
}
</style>