<template>
    <div class="notification">
        <ul v-for="(notif, index) in notifs" :key="index">
            <li>{{ notif.detail }}</li>
        </ul>
    </div>
</template>

<script>
export default {
    data() {
        return {
            notifs: []
        }
    },
    mounted() {
        this.$root.$on('notify', n => {
            this.notifs = this.validate(n)
        })
    },
    methods: {
        validate(val) {
            return val.filter(x => {
                if(x.code === 'parameter_blank') {
                    if(x.source.attribute === 'name') {
                        x.detail = 'Field Full Name is required.'
                    } else {
                        x.detail = `Field ${x.source.attribute} is required.`
                    }
                } else if(x.code === 'parameter_invalid') {
                    if(x.source.attribute === 'exp_month') {
                        if(x.detail.includes('between 1 and 12')) {
                            x.detail = 'Please select expiration month.'
                        }
                    } else if(x.source.attribute === 'exp_year') {
                        if(x.detail.includes('50 years from now')) {
                            x.detail = 'Please select expiration year.'
                        }
                    }
                } else if(x.code === 'parameter_format_invalid') {
                    x.detail = `Invalid ${x.source.attribute} format.`
                }
                return x
            })
        }
    }
}
</script>

<style scoped>
.notification {
    margin-top: 24px;
}
.notification ul {
    list-style: none;
    padding: 0;
}
.notification li {
    background-color: #f7555d;
    color: #ffffff;
    padding: 8px 16px;
    border-radius: 4px;
    letter-spacing: 1px;
    text-transform: capitalize;
}
</style>