<template>
    <div>
        <div class="loading" v-show="loading">Processing...</div>
        <div class="order-container">
            <h3 class="title">Orders</h3>
            <table>
                <thead>
                    <th>Payment Method</th>
                    <th>Amount</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Status</th>
                </thead>
                <tbody>
                    <template v-if="orders && orders.length > 0">
                        <tr v-for="order in orders" :key="order.id" @click="showDetail(order.id)">
                            <td>{{ order.payment_type }}</td>
                            <td>{{ order.currency }} {{ formatPrice(order.amount) }}</td>
                            <td>{{ order.description }}</td>
                            <td>{{ order.created_at | moment('MM/DD/YYYY hh:mm A') }}</td>
                            <td><div :class="'text-' + order.status">{{ order.status }}</div></td>
                        </tr>
                    </template>
                    <template v-else>
                        <tr><td colspan="5" class="text-center no-orders">No orders yet</td></tr>
                    </template> 
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            loading: true,
            orders: []
        }
    },
    mounted() {
        this.getOrders()
    },
    methods: {
        async getOrders() {
            await axios.get('/getOrders')
                    .then(res => {
                        this.orders = res.data
                        this.loading = false
                    })
        },
        showDetail(id) {
            window.location.href = `/orders/${id}`
        },
        formatPrice(n) {
            return parseFloat(n / 100).toFixed(2)
        }
    }
}
</script>

<style scoped>
.loading {
    background-color: #ffffff;
    opacity: 0.7;
    color: #373737;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 2px;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    padding-top: 15%;
}
.order-container {
    margin-top: 48px;
}
.no-orders {
    padding: 48px;
    font-size: 16px;
}
.title {
    margin-bottom: 24px;
}
table {
    width: 100%;
}
td, th {
    letter-spacing: 1px;
    max-width: 200px;
    text-transform: capitalize;
    padding: 8px;
}
tr {
    transition: 0.3s;
}
tr:hover {
    background: #dddddd;
    cursor: pointer;
}
.text-paid {
    color: #ffffff;
    background-color: #C5DB29;
    border-radius: 4px;
    text-align: center;
}
.text-pending {
    color: #ffffff;
    background-color: #FEBF35;
    border-radius: 4px;
    text-align: center;
}
.text-failed {
    color: #ffffff;
    background-color: #f7555d;
    border-radius: 4px;
    text-align: center;
}
</style>