<template>
    <div>
        <div class="loading" v-show="loading">Processing...</div>
        <div class="detail-container">
            <h3 class="title">Order Details</h3>
            <div class="row">

                <div class="review-cart">
                    <div :class="'text-' + info.status">{{ info.status }}</div>
                    <div class="payment-method">
                        <h3 class="col-title">Payment Method</h3>
                        <p>{{ info.payment_type }}</p>
                    </div>

                    <h3 class="col-title">Cart</h3>
                    <table>
                        <tbody>
                            <tr v-for="order in cart" :key="order.id">
                                <td class="text-center">
                                    <img class="item-img" :src="assetsUrl + '/' + order.image">
                                    <p class="item-name">{{ order.name }}</p>
                                </td>
                                <td>
                                    <p>PRICE: <span class="float-right">{{ formatPrice(order.price) }}</span></p>
                                    <p>QTY: <span class="float-right">{{ order.quantity }}</span></p>
                                    <p>TOTAL: <span class="float-right">{{ formatPrice(order.new_price || order.price) }}</span></p>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <th class="text-center">CART TOTAL:</th>
                            <th class="text-right"><span class="totalPrice">PHP {{ formatPrice(info.amount) }}</span></th>
                        </tfoot>
                    </table>
                </div>
                
                <div class="billing-info">
                    <h3 class="col-title">Billing Details</h3>
                    <div class="form-group">
                        <label>Full Name</label>
                        <p>{{ info.name }}</p>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <p>{{ info.email }}</p>
                    </div>
                    <div class="form-group">
                        <label>Phone</label>
                        <p>{{ info.phone }}</p>
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <p>{{ info.address_line1 }}</p>
                        <p>{{ info.address_line2 }}</p>
                    </div>
                    <div class="form-group">
                        <label>City</label>
                        <p>{{ info.city }}</p>
                    </div>
                    <div class="form-group">
                        <label>State</label>
                        <p>{{ info.state }}</p>
                    </div>
                    <div class="form-group">
                        <label>Postal Code</label>
                        <p>{{ info.postal_code }}</p>
                    </div>
                    <div class="form-group">
                        <label>Country</label>
                        <p>{{ info.country }}</p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            loading: true,
            info: [],
            cart: []
        }
    },
    props: ['orderId', 'assetsUrl'],
    mounted() {
        this.getOrderDetails()
    },
    methods: {
        async getOrderDetails() {
            await axios.get(`/getOrders/${this.orderId}`)
                .then(res => {
                    this.info = res.data.data.info
                    this.cart = res.data.data.cart
                    this.loading = false
                })
                .catch(err => {
                    window.location.href = '/orders'
                })
        },
        formatPrice(n) {
            return parseFloat(n / 100).toFixed(2)
        }
    }
}
</script>

<style scoped>
.loading {
    background-color: #ffffff;
    opacity: 0.7;
    color: #373737;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 2px;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    padding-top: 15%;
}
.detail-container {
    letter-spacing: 1px;
    margin-top: 48px;
}
.detail-container .row {
    display: flex;
}
.title {
    margin-left: 42px;
}
.payment-method {
    margin-bottom: 40px;
}
.payment-method p {
    margin-left: 30px;
    font-weight: bold;
    text-transform: capitalize;
}
.form-group p {
    margin-left: 30px;
    font-weight: bold;
}
.review-cart, .billing-info {
    width: 50%;
    padding: 24px 56px;
}
.col-title {
    margin-bottom: 24px;
}
.review-cart table {
    width: 100%;
}
.review-cart td, .review-cart th {
    padding: 8px 0;
    font-size: 12px;
}
.review-cart tfoot th {
    font-size: 14px;
}
.review-cart td p {
    margin: 0;
}
.item-img {
    width: 50px;
    height: 50px;
    border-radius: 2px;
    border: 1px solid #ffffff;
}
.item-name {
    font-weight: bold;
    margin-top: 8px !important;
}
.text-paid {
    color: #ffffff;
    background-color: #C5DB29;
    border-radius: 4px;
    text-align: center;
    text-transform: capitalize;
    max-width: 120px;
    margin-bottom: 20px;
}
.text-pending {
    color: #ffffff;
    background-color: #FEBF35;
    border-radius: 4px;
    text-align: center;
    text-transform: capitalize;
    max-width: 120px;
    margin-bottom: 20px;
}
.text-failed {
    color: #ffffff;
    background-color: #f7555d;
    border-radius: 4px;
    text-align: center;
    text-transform: capitalize;
    max-width: 120px;
    margin-bottom: 20px;
}

</style>