<template>
    <div>
        <div class="loading" v-show="loading">Processing...</div>
        <div class="payment-container">
            <h3 class="title">Check Out</h3>
            <div class="row">
                <div class="review-cart">
                    <h3 class="col-title">(1) Review Cart</h3>
                    <table>
                        <tbody>
                            <tr v-for="order in orders" :key="order.id">
                                <td class="text-center">
                                    <img class="item-img" :src="assetsUrl + '/' + order.image">
                                    <p class="item-name">{{ order.name }}</p>
                                </td>
                                <td>
                                    <p>PRICE: <span class="float-right">{{ formatPrice(order.price) }}</span></p>
                                    <p>QTY: <span class="float-right">{{ order.qty }}</span></p>
                                    <p>TOTAL: <span class="float-right">{{ formatPrice(order.new_price || order.price) }}</span></p>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <th class="text-center">CART TOTAL:</th>
                            <th class="text-right"><span class="totalPrice">PHP {{ formatPrice(model.amount) }}</span></th>
                        </tfoot>
                    </table>
                </div>
                <div class="billing-info">
                    <h3 class="col-title">(2) Billing Details</h3>
                    <div class="form-group">
                        <label>Full Name <span class="text-danger">*</span></label>
                        <input type="text" v-model="model.name">
                    </div>
                    <div class="form-group">
                        <label>Email <span class="text-danger">*</span></label>
                        <input type="text" v-model="model.email">
                    </div>
                    <div class="form-group">
                        <label>Phone</label>
                        <input type="text" v-model="model.phone">
                    </div>
                    <div class="form-group" id="form-group-address">
                        <label>Address</label>
                        <input type="text" v-model="model.line1" placeholder="Line 1">
                        <input type="text" v-model="model.line2" placeholder="Line 2">
                    </div>
                    <div class="form-group">
                        <label>City</label>
                        <input type="text" v-model="model.city">
                    </div>
                    <div class="form-group">
                        <label>State</label>
                        <input type="text" v-model="model.state">
                    </div>
                    <div class="form-group">
                        <label>Postal Code</label>
                        <input type="text" v-model="model.postal_code">
                    </div>
                    <div class="form-group">
                        <label>Country</label>
                        <select v-model="model.country">
                            <option value="">-select-</option>
                            <option value="PH">Philippines</option>
                            <option value="US">USA</option>
                        </select>
                    </div>
                </div>
                <div class="payment-method">
                    <h3 class="col-title">(3) Payment Method</h3>

                    <div class="ptype-container">
                        <div class="form-group-radio">
                            <input type="radio" v-model="model.type" value="card" id="type_card">
                            <label for="type_card">Credit Card</label>
                        </div>
                        <div class="form-group-radio">
                            <input type="radio" v-model="model.type" value="gcash" id="type_gcash">
                            <label for="type_gcash">GCash</label>
                        </div>
                        <div class="form-group-radio">
                            <input type="radio" v-model="model.type" value="grab_pay" id="type_grab_pay">
                            <label for="type_grab_pay">GrabPay</label>
                        </div>
                    </div>

                    <template v-if="model.type === 'card'">
                        <h5>Card Details</h5>
                        <div class="form-group">
                            <label>Card Number <span class="text-danger">*</span></label>
                            <input type="text" v-model="model.card_number">
                        </div>
                        <div class="form-group" id="form-group-expiration">
                            <label>Expiration <span class="text-danger">*</span></label>
                            <select v-model="model.exp_month">
                                <option value="">Month</option>
                                <option v-for="range in range(1, 12)" :key="range" :value="range">{{ month(range) }}</option>
                            </select>
                            <select v-model="model.exp_year">
                                <option value="">Year</option>
                                <option v-for="range in range(2020, 2050)" :key="range" :value="range">{{ range }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>CVC <span class="text-danger">*</span></label>
                            <input type="text" v-model="model.cvc" id="cvc">
                        </div>
                    </template>
                    <button @click="checkOut()" class="btnCheckOut">Check Out</button>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal3dSecure" tabindex="-1" role="dialog" aria-labelledby="modal3dSecureLabel" aria-hidden="true" data-backdrop="false">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <iframe :src="iframeSrc_3dSecure"></iframe>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btnCancel" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
export default {
    data() {
        return {
            loading: false,
            orders: [],
            piId: null,
            pmId: null,
            srcId: null,
            clientKey: null,
            status: 'pending',
            iframeSrc_3dSecure: '',
            model: {
                type: 'card',
                card_number: '4571736000000075',
                exp_month: '',
                exp_year: '',
                cvc: '123',
                name: 'John Doe',
                email: 'johndoe@ripeconcepts.com',
                phone: '',
                line1: '',
                line2: '',
                city: '',
                state: '',
                postal_code: '',
                country: '',
                currency: 'PHP',
                success_url: window.location.origin + '/thank_you',
                failed_url: window.location.origin + '/failed',
                amount: 0,
                description: ''
            }
        }
    },
    props: ['assetsUrl'],
    mounted() {
        if(!localStorage.cart) {
            window.location.href = '/cart'
        } else {
            this.getCart()
        }

        window.addEventListener(
            'message',
            ev => {
                if(ev.data === '3DS-authentication-complete') {
                    this.loading = true
                    this.getPaymentIntent()
                    $('#modal3dSecure').modal('hide')
                }
            },
            false
        )
    },
    methods: {
        async checkOut() {
            switch(this.model.type) {
                case 'card':
                    this.loading = true
                    this.createPaymentIntent()
                    break
                case 'gcash':
                    this.loading = true
                    this.createSource()

                    break
                case 'grab_pay':
                    this.loading = true
                    this.createSource()
                    break
            }
        },
        async createPaymentIntent() {
            await axios.post('/payment_intent', 
                    { 
                        'amount': this.model.amount,
                        'description': this.model.description,
                        'currency': this.model.currency
                    })
                    .then(res => {
                        let paymentIntent = res.data.data
                        if(res.data.errors) {
                            this.$root.$emit('notify', res.data.errors)
                            this.loading = false
                        } else {
                            this.$root.$emit('notify', [])
                            this.piId = paymentIntent.id
                            this.clientKey = paymentIntent.attributes.client_key
                            this.createPaymentMethod()
                        }
                    })
                    .catch(err => {
                        this.$root.$emit('notify', err.response.data.errors)
                        this.loading = false
                    })
        },
        async createPaymentMethod() {
            await axios.post('https://api.paymongo.com/v1/payment_methods',
                    {
                        'data': {
                            'attributes': {
                                'type': this.model.type,
                                'details': {
                                    'card_number': this.model.card_number,
                                    'exp_month': Number(this.model.exp_month),
                                    'exp_year': Number(this.model.exp_year),
                                    'cvc': this.model.cvc
                                },
                                'billing': {
                                    'address': {
                                        'line1': this.model.line1,
                                        'line2': this.model.line2,
                                        'city': this.model.city,
                                        'state': this.model.state,
                                        'postal_code': this.model.postal_code,
                                        'country': this.model.country
                                    },
                                    'name': this.model.name,
                                    'email': this.model.email
                                },
                                'phone': this.model.phone,
                                // 'metadata': []
                            }
                        }
                    },
                    { headers: window.headers })
                    .then(res => {
                        let paymentMethod = res.data.data
                        this.$root.$emit('notify', [])
                        this.pmId = paymentMethod.id
                        this.attachToPaymentIntent()
                    })
                    .catch(err => {
                        this.$root.$emit('notify', err.response.data.errors)
                        this.loading = false
                    })
        },
        async attachToPaymentIntent() {
            await axios.post(`https://api.paymongo.com/v1/payment_intents/${this.piId}/attach`, 
                {
                    'data': {
                        'attributes': {
                            'payment_method': this.pmId,
                            'client_key': this.clientKey
                        }
                    }
                },
                { headers: window.headers })
                .then(res => {
                    this.$root.$emit('notify', [])

                    let paymentIntent = res.data.data
                    let paymentIntentStatus = paymentIntent.attributes.status

                    if(paymentIntentStatus === 'awaiting_next_action') {
                        $('#modal3dSecure').modal('show')
                        this.iframeSrc_3dSecure = paymentIntent.attributes.next_action.redirect.url
                    } else if (paymentIntentStatus === 'succeeded') {
                        this.status = 'paid'
                        this.recordOrder()
                        window.location.href = '/thank_you'
                    } else if(paymentIntentStatus === 'awaiting_payment_method') {
                        this.$root.$emit('notify', [{ detail: paymentIntent.attributes.last_payment_error.failed_message }])
                    }
                    this.loading = false
                })
                .catch(err => {
                    this.$root.$emit('notify', err.response.data.errors)
                    this.loading = false
                })
        },
        async createSource() {
            await axios.post('https://api.paymongo.com/v1/sources',
                    {
                        'data': {
                            'attributes': {
                                'type': this.model.type,
                                'amount': this.model.amount,
                                'currency': this.model.currency,
                                'redirect': {
                                    'success': this.model.success_url,
                                    'failed': this.model.failed_url
                                },
                                'billing': {
                                    'name': this.model.name,
                                    'phone': this.model.phone,
                                    'email': this.model.email,
                                    'address': {
                                        'line1': this.model.line1,
                                        'line2': this.model.line2,
                                        'city': this.model.city,
                                        'state': this.model.state,
                                        'postal_code': this.model.postal_code,
                                        'country': this.model.country
                                    }
                                }
                            }
                        }
                    },
                    { headers: window.headers })
                    .then(res => {
                        let source = res.data.data
                        this.$root.$emit('notify', [])
                        this.srcId = source.id
                        this.status = 'pending'
                        this.recordOrder()
                        window.location.href = source.attributes.redirect.checkout_url
                    })
                    .catch(err => {
                        this.$root.$emit('notify', err.response.data.errors)
                        this.loading = false
                    })
        },
        async getPaymentIntent() {
            await axios.get(`https://api.paymongo.com/v1/payment_intents/${this.piId}/?client_key=${this.clientKey}`, { headers: window.headers })
                .then(res => {
                    let paymentIntent = res.data.data
                    let paymentIntentStatus = paymentIntent.attributes.status

                    if(paymentIntentStatus === 'succeeded') {
                        this.status = 'paid'
                        this.recordOrder()
                        window.location.href = '/thank_you'
                    } else if(paymentIntentStatus === 'awaiting_payment_method') {
                        this.$root.$emit('notify', [{ detail: paymentIntent.attributes.last_payment_error.failed_message }])
                    }
                    this.loading = false
                })
                .catch(err => {
                    this.$root.$emit('notify', err.response.data.errors)
                    this.loading = false
                })
        },
        async recordOrder() {
            await axios.post('/recordOrder', 
                    { 
                        'orders': this.orders,
                        'piId': this.piId,
                        'pmId': this.pmId,
                        'srcId': this.srcId,
                        'clientKey': this.clientKey,
                        'status': this.status,
                        'type': this.model.type,
                        'name': this.model.name,
                        'email': this.model.email,
                        'phone': this.model.phone,
                        'line1': this.model.line1,
                        'line2': this.model.line2,
                        'city': this.model.city,
                        'state': this.model.state,
                        'postal_code': this.model.postal_code,
                        'country': this.model.country,
                        'currency': this.model.currency,
                        'amount': this.model.amount,
                        'description': this.model.description
                    })
        },
        async getCart() {
            await axios.post('/getCart', {
                'cart': JSON.parse(localStorage.cart)
            })
            .then(res => {
                this.orders = res.data.data
                this.getTotalPrice()
            })
        },
        getTotalPrice() {
            let total = 0
            let desc = ''
            this.orders.filter(x => {
                total += (parseInt(x.new_price) || parseInt(x.price))
                desc = desc.concat(`${x.qty} ${x.name} ${this.model.currency}${this.formatPrice(x.price)}, `)
            })
            this.model.amount = total
            this.model.description = desc.replace(/,\s*$/, '')
        },
        range(min, max) {
            let ar = [],
            j = 0;
            for(let i = min; i <= max; i++) {
                ar[j] = i;
                j++;
            }
            return ar;
        },
        month(num) {
            let mon = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
            return mon[num-1];
        },
        formatPrice(n) {
            return parseFloat(n / 100).toFixed(2)
        }
    }
}
</script>

<style scoped>
.loading {
    background-color: #ffffff;
    opacity: 0.7;
    color: #373737;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 2px;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    padding-top: 15%;
}
#modal3dSecure iframe {
    width: 100%;
    min-height: 600px;
    border: 0;
}
#modal3dSecure .modal-body {
    min-height: 600px;
}
.payment-container {
    letter-spacing: 1px;
    margin-top: 48px;
}
.payment-container .row {
    display: flex;
}
.title {
    margin-left: 42px;
}
.review-cart, .billing-info, .payment-method {
    width: 33.33%;
    padding: 24px 56px;
}
.col-title {
    margin-bottom: 24px;
}
.review-cart table {
    width: 100%;
}
.review-cart td, .review-cart th {
    padding: 8px 0;
    font-size: 12px;
}
.review-cart tfoot th {
    font-size: 14px;
}
.review-cart td p {
    margin: 0;
}
.item-img {
    width: 50px;
    height: 50px;
    border-radius: 2px;
    border: 1px solid #ffffff;
}
.item-name {
    font-weight: bold;
    margin-top: 8px !important;
}
input[type="text"], input[type="number"], select {
    border: 1px solid #cccccc;
    border-radius: 2px;
    padding: 6px;
    width: 100%;
}
.form-group label {
    display: block;
}
#form-group-expiration select {
    width: 48%;
}
#form-group-address input:last-child {
    margin-top: 4px;
}
#cvc {
    width: 48%;
}
.btnCheckOut {
    display: block;
    margin: 56px auto;
    width: 200px;
    background-color: #FEBF35;
    border: 0;
    border-radius: 30px;
    color: #373737;
    padding: 12px 24px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s;
}
.btnCheckOut:hover {
    background-color: #373737;
    color: #ffffff;
}
.btnCancel {
    display: block;
    background-color: tomato;
    border: 0;
    border-radius: 30px;
    color: #ffffff;
    padding: 12px 24px;
    font-weight: bold;
    font-size: 16px;
    transition: 0.3s;
    letter-spacing: 1px;
}
.btnCancel:hover {
    background-color: #373737;
    color: #ffffff;
}
.ptype-container {
    margin-bottom: 20px;
}
</style>