<template>
    <div class="thankyou-container">
        <h2>Thank you for shopping with us!</h2>
        <p><a href="/">Continue shopping</a></p>
    </div>
</template>

<script>
export default {
    mounted() {
        localStorage.clear()
        this.$root.$emit('cartCount', 0)
    }
}
</script>